header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 1000px;
  margin: auto;
}
header img {
  width: 150px;
}
header ul {
  display: flex;
  gap: 20px;
  list-style: none;
}
header a {
  text-decoration: none;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}

.container ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container li {
  font-size: 20px;
  padding-bottom: 30px;
  width: 500px;
  margin: 15px;
  border: 1px solid #ddd;
  padding: 20px;
  box-sizing: border-box;
  background-color: white;
}

button {
  display: flex;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 30px;
}

input {
  margin-left: 10px;
  margin-bottom: 20px;
  margin-top: 5px;
}

select {
  margin-top: 5px;
  margin-bottom: 15px;
}

img {
  padding-top: 10px;
  max-width: 100%;
  height: auto;
}

textarea {
  width: 400px;
  height: 100px;
  margin-bottom: 20px;
  margin-top: 5px;
}

label {
  display: block;
}

.col {
  max-height: 100%;
  display: flex;
}
