/*-------------
    RESET
-------------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/*-------------
      TYPO
-------------*/

body {
  font-family: "Roboto", sans-serif;
  background-color: #f8f8f8;
}

/*-------------
      GENERAL
-------------*/

.container {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
}
.col {
  font-size: 20px;
  padding-bottom: 30px;
  width: calc(100% / 3);
  margin: 20px;
  border: 1px solid rgb(38, 20, 13);
  padding: 20px;
  box-sizing: border-box;
  flex-wrap: wrap;
  display: flex;
  max-height: 100%;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

button {
  margin: auto;
  margin-top: 10px;
}

img {
  padding-top: 10px;
  max-width: 100%;
  height: auto;
}

/*-------------
    HEADER
-------------*/

header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  background-color: rgb(38, 20, 13);
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 30px;
  font-size: 18px;
}
header img {
  width: 150px;
}
header ul {
  display: flex;
  gap: 20px;
  list-style: none;
}
header a {
  text-decoration: none;
  color: white;
}

/*-------------
    ADD RECIPE
-------------*/

input {
  margin-left: 10px;
  margin-bottom: 20px;
  margin-top: 5px;
}

select {
  margin-top: 5px;
  margin-bottom: 15px;
}

textarea {
  width: 400px;
  height: 100px;
  margin-bottom: 20px;
  margin-top: 5px;
}

label {
  display: block;
}

/*-------------
    FOOTER
-------------*/
footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  background-color: rgb(38, 20, 13);
  text-transform: uppercase;
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}

footer img {
  width: 150px;
}
footer ul {
  list-style: none;
}
footer li {
  padding-bottom: 10px;
  list-style: none;
}
footer a {
  text-decoration: none;
  color: white;
}
